
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(Gestão.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;


}


/* Media Queries para tornar o site responsivo */

/* Quando a tela tiver 768px ou menos, o layout se ajusta */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .content {
        padding: 1rem;
    }
}

/* Quando a tela for menor que 480px, o texto e o layout diminuem */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 300dpi) {
    body {
        background-image: url('Gestão.jpg');
    }
}

/* Dispositivos com largura até 600px (celulares) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Ajuste para tamanhos menores */
    }

    .container {
        padding: 0.5em; /* Reduz o espaçamento */
    }

    .carousel-container {
        max-width: 999px;; /* Tamanho ajustável */
        max-height: auto; /* Remove altura fixa */
        padding: 0; /* Remove espaçamento */
        right: 0; /* Remove o deslocamento */
    }

    .carousel-slide img {
        width: 100%; /* Imagens ocupam toda a largura */
        height: auto; /* Mantém a proporção */
    }

    .modal-content-detalhes {
        max-width: 800px;
    }

    header {
        height: 30px;
        list-style: none;
        padding: 5px;
        min-width: 999px;
        max-width: 750px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        gap: 80px;
    }
}

/* Dispositivos com largura entre 601px e 1024px (tablets) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .container {
        padding: 2em;
    }

    header {
        height: 90px;
        min-width: 750px;
    }

    .carousel-container {
        max-height: 1267px;
        min-width: 758px;
    }
}

/* Dispositivos maiores que 1024px (desktops) */
@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

   
}



/* Estilo do cabeçalho */

header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #5214CB #3c1292;
    color: #F3F4F6;
    text-align: left;
    padding: 10 px 20px;
    justify-content: space-between;
    align-items: left;
    position: sticky;
    top: 5;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle, #5214Cb, #3c1292);
    
      
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente dentro da div */
    align-items: center; /* Centraliza verticalmente dentro da div */
    width: 150px; /* Define o tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
    margin: 7px;
    margin-left: -135px;
  }

.foto-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente dentro da div */
    align-items: center; /* Centraliza verticalmente dentro da div */
 
}



 header h1 {
    display: flex;
    margin: 5px;
    padding: 0 auto;
    font-size: 20px;
    text-align: left;
    position: sticky;
    margin-left: 1 cm;
    
}

header p {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    margin-left: ocm;
    white-space: nowrap;
   
}


.logo-foto {
    display: flex;
    width: 100px; /* Define o tamanho da logo */
    height: auto; 
    align-items: right;
    opacity: 0.9;
    margin-left: 18px;
    padding: 0 auto;
    text-align: left;
    margin-top: 10px;
    position:sticky;
    margin-right: 450px;
    margin-left: 90px;
}

nav ul {
    list-style: none;
    padding: 12px;
    margin: 13px 0;
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: -100px;
    
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

nav ul li a:hover {
    color: yellow;
    
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #eeeeee;
  --secondary: #290670;
  --green: #82cd47;
  --secondary-light: rgba(110, 28, 216, 0.726);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}




.profile-dropdown {
    position: relative;
    width: fit-content;
    list-style: none;
    top: 10px;
    left: 35px;
  }

  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.05rem 0.2rem;   /* Padding ainda menor */
    font-size: 0.6rem;         /* Tamanho de fonte menor */
    font-weight: 400;          /* Peso da fonte ajustado */
    width: 70%;               /* Largura ajustada ao conteúdo */
    border-radius: 20px;       /* Menor raio de borda */
    border: 1px solid var(--secondary); /* Borda fina */
    cursor: pointer;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.
  }  
  
  
  .profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
  }
  .profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/profile-pic.jpg);
    background-size: cover;
  }

  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
  }

  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 10px;;
  }
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 240px;
    right: 0;
    background-color: #5214cb;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
    list-style: none; /* Remove as bolinhas */
  }
  .profile-dropdown-list hr {
    border: 0.5px solid var(--green);
  }
  .profile-dropdown-list.active {
    max-height: 400px;
  }
  .profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
  }
  .profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
  }
  .profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  .profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
  }


/* Seção da agenda */

.agenda-evento {
    position: fixed; /* Fixa a camada de fundo */
    top: 70;
    left: 0;
    width: 100%;
    height: 100%; /* Preenche toda a tela */
    background-color: rgba(0, 0, 0, 0.5); /* Opacidade no fundo */
    z-index: 1; /* Garante que a camada de fundo fique atrás dos outros elementos */
}

.agenda-evento .conteudo {
    position: relative; /* Garante que o conteúdo fique acima da camada de opacidade */
    z-index: 1000; /* Coloca o conteúdo acima da camada de opacidade */
    color: white; /* Cor do conteúdo */
    padding: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 89px;
    text-align: center;
}




.container h2 {    
    font-size: 28px;
    margin: 20px 0;
    padding: 10px;
    top: -40px;
    margin-right: -30px;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    position: relative;
    background-color: #5214Cb; 
    display: inline; 
    border-radius: 15px; 
}

/* Estilo dos eventos */
.eventos {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.evento {
  
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.evento:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.evento img:hover {
    transform: scale(1.05);
}

.evento button {
    display: block;
    margin: 20px auto;
    padding: 10px ;
    color: white;
    background-color: #6028CD;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.evento button:hover {
    background-color: #5214Cb;  
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}


.carousel {
    position: relative;
    max-width: 89%; /* Garantir que o carrossel ocupe 100% da largura do contêiner */
    margin: auto;
    overflow: hidden;
    
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
   
  }

  .evento-caption {
    display: flex;
    position: relative;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .carousel-slide {
    min-width: 34%;  /* Controla a largura de cada slide */
    box-sizing: border-box;
    position: relative;
    padding: 10px; /* Adiciona espaçamento interno */
    
  }
  
  .carousel-slide img {
    width: 100%;
    height: 220px;
    display: flex;
    border: 5px solid white; /* Define uma borda sólida de cor branca */
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .carousel-slide img:hover {
    transform: scale(1.10);
}

  
  .prev, .next {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
   
  }
  
  .prev {
    left: 97px;
  }
  
  .next {
    right: 93px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

   /* Estilo geral para o fundo do modal */
.modal-detalhes {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000; /* Garante que o modal fique acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 120%; /* Ocupa toda a altura da tela */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro com transparência */
    overflow: auto; /* Permite rolagem se o conteúdo for muito grande */
}

/* Estilo do conteúdo do modal */
.modal-content-detalhes {
    background-color: #5214cb; /* Fundo branco */
    margin: 10% auto; /* Centraliza vertical e horizontalmente */
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px; /* Bordas arredondadas */
    width: 80%; /* Largura do modal */
    max-width: 600px; /* Largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
    animation: fadeIn 0.3s; /* Efeito de animação */
    position: relative;
    top: 10%;
    height: 45%;
}

/* Estilo do botão de fechar (X) */
.close-btn-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn-modal:hover,
.close-btn-modal:focus {
    color: #ffffff; /* Vermelho ao passar o mouse */
    text-decoration: none;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Estilização dos textos no modal */
.modal-content-detalhes h2 {
    font-size: 24px;
    color: #fffcfc;
    margin-bottom: 35px;
    text-align: center;
    top: 10px;
}

.modal-content-detalhes p {
    font-size: 22px;
    color: #ffffff;
    margin: 8px 0;
    text-align: center;
    gap: 355px;
    top: 10px;
}

/* Destaques das informações */
.modal-content-detalhes strong {
    color: #ffffff;
}
  




  /* Estilo básico para os modais */
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    
}
.modalContent {
    background-color: #5214cb;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
}
.msg-btn {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
.btn-sim {
    background-color: #4CAF50;
    color: white;
}

.btn-sim:hover {
    background-color: rgb(25, 155, 29);
}

.btn-nao {
    background-color: #f44336;
    color: white;
}

.btn-nao:hover {
    background-color: #b32218;
}


 

/* Estilo do botão de abrir a sidebar */
.open-btn {
    padding: 12px 24px;
    background-color: #5214cb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

/* Estilo da sidebar */
.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5214cb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    
}

/* Conteúdo dentro da sidebar */
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd;
    display: block;
    transition: 0.3s;
   
}

.sidebar a:hover {
    color: #5214cb;
    background-color: rgba(61, 3, 136, 0.733);
    border-radius: 20px;
}

/* Botão de fechar (X) */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: #ffff;
    cursor: pointer;
}

ul.separator {
	list-style: none;
	padding: 0;
	width: 100%;
}

ul.separator ul {
	padding: .5em 0;
	border-bottom: 1px solid #CCC;
}

.custom perfil {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #eee;
    border-radius: 4px;
    border: 2px solid #ddd;
    cursor: pointer;
    position: relative;
}

/* Marca de seleção */
.custom perfil ::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 2px;
    display: none; /* Esconde a marca inicialmente */
}


/* Estilos para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
}
.modal-content {
    background-color: #5214cb;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

/* Estilo para os botões de logout */
.modal-content form {
    display: flex;
    justify-content: center; /* Alinha os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
}

.modal-content h2 {
    text-align: center;
}
.modal-content button {
    justify-content: center; /* Alinha os botões horizontalmente */
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-yes {
    background-color: #4CAF50; /* Verde para "Sim" */
    color: white;
}
.btn-no {
    background-color: #e7190a; /* Vermelho para "Não" */
    color: white;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #5214cb;
    padding: 20px;
    width: 90%; /* Largura padrão */
    max-width: 500px; /* Largura máxima */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease;
}

.bem-vindo {
        font-size: 20px;  /* Ajuste o tamanho da fonte conforme necessário */
        color: white;
        margin-bottom: 20px; /* Um pequeno espaço abaixo, se necessário */
        text-align: center;  /* Garante que o texto esteja centralizado */
    }

.popup .close-btn-popup {
    position: relative;
    top: -20px;
    right: -244px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-content .popup-image {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%; /* Deixe a imagem circular */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
