body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(Gestão.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   overflow: hidden;
    
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 300dpi) {
    body {
        background-image: url(Gestão.jpg);
    }
}


/* Estilo do cabeçalho */

header {
    position: fixed;   /* Fixa o cabeçalho no topo */
    top: 0;    /* Posiciona no topo */           
    left: 0;    /* Alinha à esquerda */
    display: flex;
    width: 100%;
    height: 68px;
    background-color: #5214CB #3c1292;
    color: #F3F4F6;
    text-align: left;
    padding: 10 px 20px;
    justify-content: space-between;
    align-items: left;
    position: sticky;
    top: 5;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle, #5214Cb, #3c1292);
    
      
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente dentro da div */
    align-items: center; /* Centraliza verticalmente dentro da div */
    width: 150px; /* Define o tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
    margin: 7px;
    margin-left: 240px
    
    
    
    
  }


  header h1 {
    display: flex;
    margin: 5px;
    padding: 0 auto;
    font-size: 20px;
    text-align: left;
    position: sticky;
    margin-left: 1 cm;
    
}

header p {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    white-space: nowrap;
}


.logo-foto {
    display: flex;
    width: 100px; /* Define o tamanho da logo */
    height: auto; 
    align-items: right;
    opacity: 0.9;
    margin: 5px;
    padding: 0 auto;
    text-align: left;
    margin-top: 10px;
    position: relative;
    margin-left: 90px;
}





nav ul {
    list-style: none;
    padding: 12px;
    margin: 8px 0;
    display: flex;
    justify-content: right;
    gap: 10px;
    
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

nav ul li a:hover {
    color: yellow;
    
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.cargo-evento {
    position: fixed; /* Fixa a camada de fundo */
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%; /* Preenche toda a tela */
    background-color: rgba(0, 0, 0, 0.5); /* Opacidade no fundo */
    z-index: 1; /* Garante que a camada de fundo fique atrás dos outros elementos */
}

.cargo-evento .conteudo-cargo {
    position: relative; /* Garante que o conteúdo fique acima da camada de opacidade */
    z-index: 1000; /* Coloca o conteúdo acima da camada de opacidade */
    color: white; /* Cor do conteúdo */
    padding: 89px;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 35px;
    gap: -60px;
    display: flex; flex-direction: column;
}

.nome-cargo h1 {
    font-size: 26px;
    margin: 20px 0;
    top: -20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    position: relative;
    background-color: #5214Cb; 
    display: inline; 
    border-radius: 15px; 
}


table {
    width: 60%;
    border-collapse: collapse;
    color: white;
    margin: 50px auto;
    margin-top:-10px; 
    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; /* Cor azul */
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3; /* Cor azul escuro */
    transform: scale(1.05); /* Aumenta ligeiramente o botão ao passar o mouse */
}

.button:active {
    transform: scale(1); /* Restaura o tamanho ao clicar */
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
    
}
th {
    background-color: #5214cb;
    color: white;
}

.id-column {
    display: none;
  }

td {
    background-color: #8020cb;

}

.id-column {
    display: none;
  }

  .ações {
      width: 15%;
  }

  .a {
      color: white;
      text-decoration: none;
  }

h2 {
    
    border: none;
    box-sizing: border-box;
  
    justify-content: center;
    
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}

.cargo-actions {
    display: flex; /* Garante que os itens fiquem lado a lado */
    gap: 10px; /* Define o espaçamento entre os botões */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.btn-delete-cargo, .btn-edit-cargo {
    border-radius: 8px;
    padding: 10px 15px; /* Unificado para consistência */
    cursor: pointer;
    color: white;
  
}

.btn-delete-cargo {
    background-color: red;
}

.btn-edit-cargo {
    
    background-color: blue;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #5214cb;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 0 5px;
    background-color: white;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #5214cb;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.modal-delete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content-delete {
    background-color: #5214cb;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-delete-actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-confirm, .btn-cancel {
       padding: 10px 20px;
        margin: 5px;
        border-radius: 15px;;
        border: none;
        cursor: pointer;
}

.btn-confirm {
    background-color: rgb(13, 175, 13);
    color: white;
}

.btn-cancel {
    background-color: #b91414;
    color: white;
}


 /* Estilo do overlay do modal */
 .modal-erro {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    z-index: 1000; /* Para garantir que o modal fique acima de outros elementos */
    justify-content: center;
    align-items: center;
}

/* Estilo do conteúdo do modal */
.modal-content-erro {
    background-color: #5214cb;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    position: relative;
    top: -18px;
    left: 10px;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo do título do modal */
.modal-title-erro {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

/* Estilo da mensagem do modal */
.modal-message {
    font-size: 1em; /* Tamanho padrão */
    color: rgb(255, 255, 255); /* Texto escuro */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo do botão de fechar */
.icon-close-erro{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: none;
    border: none;
}


