body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(Gestão.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 300dpi) {
    body {
        background-image: url(Gestão.jpg);
    }
}


/* Para dispositivos com largura até 600px (celulares) */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    body {
      font-size: 14px;
    }
  
    .container {
      width: 100%;
      padding: 1em;
    }
  }
  
  /* Para dispositivos com largura até 768px (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 100%;
    }
  }
  
  /* Para dispositivos maiores que 1024px (desktops) */
  @media only screen and (min-width: 1024px) {
    .container {
      width: 100%;
    }
  }


/* Estilo do cabeçalho */

header {
    display: flex;
    width: 100%;
    height: 68px;
    background-color: #5214CB #3c1292;
    color: #F3F4F6;
    text-align: left;
    padding: 10 px 20px;
    justify-content: space-between;
    align-items: left;
    position: sticky;
    top: 5;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle, #5214Cb, #3c1292);
    
      
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente dentro da div */
    align-items: center; /* Centraliza verticalmente dentro da div */
    width: 150px; /* Define o tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
    margin: 7px;
    margin-left: 140px
    
    
    
  }


 header h1 {
    display: flex;
    margin: 5px;
    padding: 0 auto;
    font-size: 20px;
    text-align: left;
    position: sticky;
    margin-left: 1 cm;
    
}

header p {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    margin-left: ocm;
    white-space: nowrap;
   
}


.logo-foto {
    display: flex;
    width: 100px; /* Define o tamanho da logo */
    height: auto; 
    align-items: right;
    opacity: 0.9;
    margin-left: 18px;
    padding: 0 auto;
    text-align: left;
    margin-top: 10px;
    position:sticky;
}




nav ul {
    list-style: none;
    padding: 12px;
    margin: 8px 0;
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-right: 31px;
    
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

nav ul li a:hover {
    color: yellow;
    
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Seção da agenda */

.agenda {
    text-align: center;
    align-items: center;
    padding: 125px 0;
    background-color: #240046;
    opacity: 0.9; 
    background-color: rgba(0, 0, 0, 0.5);
    
}



.text {    
    margin: 10px auto;
    font-size: 28px;
    margin-top: -80px;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    position: relative;
    background-color: #5214cb; 
    display: inline-block; 
    border-radius: 15px; 
}

.modal {

    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto ;
    padding: 50px ;
    background-color: rgba(62, 145, 223, 0.739);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    height: 400px;
    text-align: left;
}
